@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?mh4uhi');
    src:    url('fonts/icomoon.eot?mh4uhi#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?mh4uhi') format('truetype'),
        url('fonts/icomoon.woff?mh4uhi') format('woff'),
        url('fonts/icomoon.svg?mh4uhi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vk-circle:before {
    content: "\e901";
}
.icon-facebook-circle:before {
    content: "\e902";
}
.icon-feed:before {
    content: "\e604";
}

