{% extends "base.html" %}

{% block title %}О проекте{% endblock %}
{% block meta_description %}Узнайте больше о возможностях информационного софт портала example.com{% endblock %}

{% block content %}
    <div id="blog-jumbotron" class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <blockquote class="blockquote">
                        <h1 class="display-3">О проекте</h1>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
                <p><b>example.com</b> – информационный портал, который оперативно рассказывает о последних изменениях и нововведениях в таких популярных программах как:</p>
                <ul>
                    <li><a href="https://example.com/opera">Opera</a></li>
                    <li><a href="https://example.com/yandex-browser">Яндекс Браузер</a></li>
                    <li><a href="https://example.com/orbitum">Orbitum</a></li>
                    <li><a href="https://example.com/yandex-disk">Яндекс Диск</a></li>
                    <li><a href="https://example.com/mediaget">MediaGet</a></li>
                    <li><a href="https://example.com/360-total-security">360 Total Security</a></li>
                    <li><a href="https://example.com/punto-swither">Punto Swither</a></li>
                    <li><a href="https://example.com/internet-explorer">Internet Explorer</a></li>
                </ul>
                <p>Вы можете быстрее узнавать об актуальных новостях, задавать свои вопросы и принимать участие в конкурсах, если подпишитесь на <a href="http://vk.com/public117745980">нашу группу</a> Вконтакте.</p>
                <p>Если вы хотите связаться с администрацией сайта, пишите на электронный адрес <a href="mailto:example.com@gmail.com">example.com@gmail.com</a></p>
                <p><b>Мы обязательно ответим на ваши вопросы и предложения!</b></p>
            </div>
    </div>
{% endblock %}
