{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row m-t-2">
            <div class="col-xs-12">
                {% for row in apps|partition:2 %}
                    <div class="card-group">
                        {% for app in row %}
                            <div class="card card-block index-soft-item">
                                <div class="media">
                                    <a class="media-left hidden-sm-down" href="{% url %}/{{ app.slug }}{% endurl %}">
                                        <img class="media-object" src="{{ app.logo|media|url }}" alt="{{ app.name }}" width="75px">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="{% url %}/{{ app.slug }}{% endurl %}">Скачать {{ app.name }}</a>
                                        </h4>
                                        <div class="mb5px text-muted">
                                            <small>Версия: {{ app.version }}, {{ app.size }} Мб</small>
                                        </div>
                                        {{ app.teaser }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <hr class="m-t-3 m-b-3">
                <h1 class="h2">Популярные программы для компьютера</h1>
                <p>Надежный и качественный софт является одним из главных залогов успешной работы с компьютером. Кроме того, в современную эпоху тотальной интернетизации, крайне важно иметь удобные и функциональные приложения для серфинга в сети, скачивания файлов и общения. Не является секретом и то, что наиболее качественными и безопасными являются лишь те программы, которые являются официальными версиями с сайтов производителя. Но, к сожалению, в последнее время становится все сложнее найти и скачать действительно надежный софт с официальных сайтов. Наш сайт поможет вам решить эту задачу, ведь тут вы сможете найти самые популярные и проверенные программы, как для работы с компьютером, так и для серфинга в интернет. Среди них, четыре самых популярных, надежных и функциональных браузера: Internet Explorer, Opera, Orbitum, и Яндекс.Браузер.</p>
                <p>Кроме того, мы можем предложить вам для скачивания все более набирающий популярность облачный сервис Яндекс.Диск., позволяющий хранить огромные массивы информации. Для любителей же посмотреть фильмы или поиграть в игры мы рекомендуем скачать MediaGet – превосходный торрент-загрузчик. Благодаря нему, вы сможете без труда найти и загрузить ваши любимые киноленты, песни и игрушки. Позаботились мы и о вашей безопасности. На защиту вашего компьютера и личных данных от вирусов и вредоносных программ готов встать современный бесплатный антивирус 360 Total Security, который вы также можете скачать с нашего сайта.</p>
                <p>Есть у  нас кое, что и для тех, кто регулярно работает с текстами – программа Punto Switcher, благодаря которой вы сможете писать текст, не задумываясь о раскладке, языке и ошибках. Эта программа все сделает за вас! Наш сайт всегда рад обеспечить вас новейшим проверенным софтом с официальных сайтов!</p>
                <div class="ya-share2 m-t-1 text-xs-center" data-services="vkontakte,facebook,odnoklassniki,gplus" data-counter=""></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
{% endblock %}
